.hero {
  background-image: url(../img/hero-bg.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding-top: 340px;
  margin-top: -102px;


  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 92px;
  }
  &__title {
    font-family: "Raleway", sans-serif;
    text-align: center;
    font-size: 200px;
    font-weight: 700;
    letter-spacing: 0.6px;
    color: var(--main-color);
  }

  &__descr {
    text-align: center;
    font-size: 24px;
    letter-spacing: 0.6px;
    color: #000;
    margin-bottom: 315px;
  }
}
