.peaks {
  padding-bottom: 200px;
  background-image: url(../img/peaks-bg.png);
  background-repeat: no-repeat;
  background-position: top right;
  &__wrapper {
    max-width: 510px;
  }

  &__text {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.6px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}
