.receive {
  background-color: #F8F8F8;
  padding-bottom: 200px;
  &__list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
  }

  &__item {
    max-width: 350px;
  }

  &__box {
    padding-left: 50px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }

  &__subtitle {
    position: relative;
    padding-left: 5px;
    max-width: 155px;
    text-align: center;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: 0.6px;
    color: var(--dark-color);

  }

  &__svg {
    fill: var(--mainlight-color);
    width: 55px;
    height: 50px;
  }

  &__text {
    text-align: left;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.6px;
    color: var(--dark-color);

    &--first {
      margin-bottom: 30px;
    }
  }


  &__benefits {
    display: flex;
    justify-content: space-between;
  }
  &__wawes {}

  &__inner {
    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }

  &__wawe {
    margin-right: 10px;
    fill: var(--mainlight-color);
    align-items: start;
    max-height: 15px;
    max-width: 300px;

    &--1 {
      max-width: 200px;
    }

    &--2 {
      max-width: 247px;
    }
  }

  &__descr {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.6px;
    color: var(--dark-color);
  }

  &__interest {
    font-size: 24px;
    line-height: 18px;
    letter-spacing: 0.6px;
  }

  &__content {
    max-width: 600px;
  }
}
