.team {
  &__list {
    padding-top: 100px;
    padding-bottom: 200px;
    display: flex;
    justify-content: space-between;

  }

  &__img {
    margin-bottom: 25px;
  }

  &__name {
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.6px;
  }

  &__position {
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.6px;
  }
}
