.video {
  &__movies {
    padding: 200px 0;
  }

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {

    &:not(:last-child) {
      margin-right: 100px;
    }
  }

  &__subtitle {
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
    color: var(--main-color);
  }

  &__descr {
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.6px;
  }
}
