<section class="blog">

  <h2 class="section-titl">
    БЛОГ
  </h2>
  <div class="swiper blog__swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="container">
          <h3 class="blog__title">
            ЧТО НЕОБХОДИМО ВЗЯТЬ С СОБОЙ НА СЕРФ ТУР
          </h3>
          <p class="blog__descr">
            ТОП 20 необходимых вещей для комфортного отдыха и обучения
          </p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="container">
          <h3 class="blog__title">
            ЧТО НЕОБХОДИМО ВЗЯТЬ С СОБОЙ НА СЕРФ ТУР
          </h3>
          <p class="blog__descr">
            ТОП 20 необходимых вещей для комфортного отдыха и обучения
          </p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="container">
          <h3 class="blog__title">
            ЧТО НЕОБХОДИМО ВЗЯТЬ С СОБОЙ НА СЕРФ ТУР
          </h3>
          <p class="blog__descr">
            ТОП 20 необходимых вещей для комфортного отдыха и обучения
          </p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="container">
          <h3 class="blog__title">
            ЧТО НЕОБХОДИМО ВЗЯТЬ С СОБОЙ НА СЕРФ ТУР
          </h3>
          <p class="blog__descr">
            ТОП 20 необходимых вещей для комфортного отдыха и обучения
          </p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="container">
          <h3 class="blog__title">
            ЧТО НЕОБХОДИМО ВЗЯТЬ С СОБОЙ НА СЕРФ ТУР
          </h3>
          <p class="blog__descr">
            ТОП 20 необходимых вещей для комфортного отдыха и обучения
          </p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="container">
          <h3 class="blog__title">
            ЧТО НЕОБХОДИМО ВЗЯТЬ С СОБОЙ НА СЕРФ ТУР
          </h3>
          <p class="blog__descr">
            ТОП 20 необходимых вещей для комфортного отдыха и обучения
          </p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="container">
          <h3 class="blog__title">
            ЧТО НЕОБХОДИМО ВЗЯТЬ С СОБОЙ НА СЕРФ ТУР
          </h3>
          <p class="blog__descr">
            ТОП 20 необходимых вещей для комфортного отдыха и обучения
          </p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="container">
          <h3 class="blog__title">
            ЧТО НЕОБХОДИМО ВЗЯТЬ С СОБОЙ НА СЕРФ ТУР
          </h3>
          <p class="blog__descr">
            ТОП 20 необходимых вещей для комфортного отдыха и обучения
          </p>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>

</section>
