<section class="form">
  <picture>
    <source srcset="img/map.avif" type="image/avif">
    <source srcset="img/map.webp" type="image/webp">
    <img loading="lazy" src="img/map.png" class="form__img image" width="" height="640px" alt="">
  </picture>
  <div class="container">
    <h2 class="section-titl form-titl">
      ОСТАВИТЬ ЗАЯВКУ
    </h2>
    <div class="form__content">
      <form action="#" class="form__form">
        <label class="form__label">
          <span class="form__caption">
            Имя
          </span>
          <input type="text" name="Имя" class="input-reset form__input">
        </label>
        <label class="form__label">
          <span class="form__caption">
            Телефон
          </span>
          <input type="tel" name="Имя" class="input-reset form__input">
        </label>
        <label class="form__label">
          <span class="form__caption form__caption--message">
            Оставьте сообщение, и мы свяжемся с Вами в ближайшее время
          </span>
          <textarea type="text" name="message" class="input-reset form__input"></textarea>
        </label>
        <button class="btn-reset form__btn">ОТПРАВИТЬ</button>
      </form>
      <div class="form__information">
        <p class="form__text">
          Есть вопрос? <br>
          Вы можете связаться с нами:
        </p>
        <p class="form__text">
          WhatsApp, Viber, Telegram <br>
          +3 467 486-37-88
        </p>
        <p class="form__text">
          Avenida grandes playas 79, <br>
          Corralejo la Oliva Fuerteventura, <br>
          Spain. 35660
        </p>
      </div>
    </div>

    <div class="form__socials">
      <a href="" class="form__link">
        INSTAGRAM
      </a>
      <a href="" class="form__link">
        FACEBOOK
      </a>
      <a href="" class="form__link">
        YOUTUBE
      </a>
    </div>

  </div>
</section>
