<secion class="gallery">
  <div class="container">
    <h2 class="section-titl">
      ГАЛЕРЕЯ
    </h2>
    <ul class="list-reset gallery__list">
      <li class="gallery__item">
        <button class="btn-reset gallery__btns">
          ВСЕ
        </button>
      </li>
      <li class="gallery__item">
        <button class="btn-reset gallery__btns gallery__btns--active">
          ТУРИСТЫ
        </button>
      </li>
      <li class="gallery__item">
        <button class="btn-reset gallery__btns">
          ПРИРОДА
        </button>
      </li>
      <li class="gallery__item">
        <button class="btn-reset gallery__btns">
          ПРОФИ
        </button>
      </li>
    </ul>

    <div class="gallery__grid">

      <img loading="lazy" src="img/gallery-1.jpg" class="gallery__img image" width="580" height="280"
        alt="gallary img">
      <img loading="lazy" src="img/gallery-2.jpg" class="gallery__img image" width="290" height="280" alt="gallary img">
      <img loading="lazy" src="img/gallery-3.jpg" class="gallery__img image" width="" height="" alt="gallary img">
      <img loading="lazy" src="img/gallery-4.jpg" class="gallery__img image" width="" height="" alt="gallary img">
      <img loading="lazy" src="img/gallery-5.jpg" class="gallery__img image" width="" height="" alt="gallary img">
      <img loading="lazy" src="img/gallery-6.jpg" class="gallery__img image" width="" height="" alt="gallary img">
    </div>

    <button class="btn-reset gallery__btn">
      ПОКАЗАТЬ ЕЩЕ
    </button>
  </div>
</secion>
