<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a href="#" class="logo">
        <img loading="lazy" src="img/logo.svg" class="image logo__img" width="" height="" alt="logo">
      </a>
      <nav class="nav" title="HeaderMenu">
        <ul class="list-reset nav__list">
          <li class="nav__item"><a href="#" class="nav__link">
              О нас
            </a></li>
          <li class="nav__item"><a href="#" class="nav__link">
              Услуги
            </a></li>
          <li class="nav__item"><a href="#" class="nav__link">
              Стоимость
            </a></li>
          <li class="nav__item"><a href="#" class="nav__link">
              Блог
            </a></li>
          <li class="nav__item"><a href="#" class="nav__link">
              Команда
            </a></li>
          <li class="nav__item"><a href="#" class="nav__link">
              Контакты
            </a></li>
        </ul>
      </nav>
    </div>

  </div>


</header>
