<section class="packages">
  <div class="container">
    <h2 class="section-titl">
      ПАКЕТЫ УСЛУГ
    </h2>

    <ul class="list-reset packages__list">
      <li class="packages__item">
        <h4 class="packages__subtitle">
          Стандарт
        </h4>
        <p class="packages__pluses">
          Проживание на вилле 6 ночей
        </p>
        <p class="packages__pluses">
          Номер категории стандарт
        </p>
        <p class="packages__pluses">
          Экипировка для обучения
        </p>
        <p class="packages__pluses">
          Обучение серфингу 5 тренировок по 2 часа
        </p>
        <p class="packages__pluses">
          Страховка
        </p>
        <p class="packages__pluses">
          Вечеринка с угощениями и дискотекой
        </p>
        <div class="packages__price">
          <span class="packages__number">450</span>
          <sapn class="packages__dolr">
            $
          </sapn>
        </div>
      </li>
      <li class="packages__item">
        <h4 class="packages__subtitle">
          Все включено
        </h4>
        <p class="packages__pluses">
          Проживание на вилле 6 ночей
        </p>
        <p class="packages__pluses">
          Номер категории люкс
        </p>
        <p class="packages__pluses">
          Экипировка для обучения
        </p>
        <p class="packages__pluses">
          Обучение серфингу 8 тренировок по 2 часа
        </p>
        <p class="packages__pluses">
          Страховка
        </p>
        <p class="packages__pluses">
          Вечеринка с угощениями и дискотекой
        </p>
        <p class="packages__pluses">
          Авиа перелет Тенерифе -Лансароте - Тенерифе
        </p>
        <p class="packages__pluses">
          Завтраки на вилле
        </p>
        <div class="packages__price">
          <span class="packages__number">950</span>
          <sapn class="packages__dolr">
            $
          </sapn>
        </div>
      </li>
      <li class="packages__item">
        <h4 class="packages__subtitle">
          Профи
        </h4>
        <p class="packages__pluses">
          Проживание на вилле 8 ночей
        </p>
        <p class="packages__pluses">
          Номер категории люкс
        </p>
        <p class="packages__pluses">
          Экипировка для обучения
        </p>
        <p class="packages__pluses">
          Обучение серфингу 16 тренировок по 2 часа
        </p>
        <p class="packages__pluses">
          Страховка
        </p>
        <p class="packages__pluses">
          Вечеринка с угощениями и дискотекой
        </p>
        <p class="packages__pluses">
          Авиа перелет Тенерифе -Лансароте - Тенерифе
        </p>
        <p class="packages__pluses">
          Завтраки и ужины на вилле
        </p>
        <div class="packages__price">
          <span class="packages__number">1450</span>
          <sapn class="packages__dolr">
            $
          </sapn>
        </div>
      </li>
    </ul>
  </div>
</section>
