<section class="peaks">
  <div class="container">
    <div class="peaks__wrapper">
      <h2 class="section-titl">
        ПОКОРЯЙ ВЕРШИНЫ
      </h2>
      <div class="peaks__content">
        <p class="peaks__text">
          Преподаватели нашей школы серфинга в числе лучших серферов на Канарских островах. Среди них - чемпион Европы
          по
          лонгборду, который с радостью поделится опытом как с новичками, так и более опытными серферами.
          Все члены преподавательского состава являются сертифицированными членами Федерации серфинга Канарских
          островов.
          Некоторые из них знают русский язык, что определенно позиционирует нас как русскую школу серфинга за границей!
        </p>
        <p class="peaks__text">
          Весь тренерский состав регулярно участвует в семинарах и курсах повышения квалификации, которые проводятся по
          всему
          миру
          различными известными серф-клубами и федерациями. Поэтому в нашей школе серфинга вы можете быть спокойны: вас
          обучают
          лучшие тренеры!
        </p>
        <p class="peaks__text">
          Методика обучения серфингу рассчитана как на новичков, на серферов среднего уровня, так и на серферов уровня
          ТОП.
          Тренеры находят подход к каждому, несмотря на то, что обучение серфингу в нашей школе производится в группах.
          Однако, мы
          предлагаем персональные уроки серфинга - только вы и тренер! П
        </p>
      </div>
    </div>

  </div>
</section>
