<section class="receive">
  <div class="container">
    <h2 class="section-titl">
      В ШКОЛЕ ВЫ ПОЛУЧИТЕ
    </h2>

    <ul class="list-reset receive__list">
      <li class="receive__item">
        <div class="receive__box">
          <svg class="receive__svg">
            <use xlink:href="img/sprite.svg#sun"></use>
          </svg>
          <h3 class="receive__subtitle">
            ПРОЖИВАНИЕ
          </h3>
        </div>

        <p class="receive__text">
          Наша школа серфинга находится в 100 м от океанского побережья. К услугам гостей открытый бассейн и бесплатный
          Wi-Fi. Из
          верхней террасы открывается вид на океан. Расстояние до центра города 15 мин.
        </p>
      </li>
      <li class="receive__item">
        <div class="receive__box">
          <svg class="receive__svg">
            <use xlink:href="img/sprite.svg#plane"></use>
          </svg>
          <h3 class="receive__subtitle">
            ПЕРЕЛЕТ И
            СТРАХОВКУ
          </h3>
        </div>

        <p class="receive__text">
          Все участники программы застрахованы страховой компанией Allianz. <br>
          Перелет из Тенерифе до острова Лансароте и обратно входит в стоимость программы
        </p>
      </li>
      <li class="receive__item">
        <div class="receive__box">
          <svg class="receive__svg">
            <use xlink:href="img/sprite.svg#wawe"></use>
          </svg>
          <h3 class="receive__subtitle">
            ОБУЧЕНИЕ И
            ЭКИПИРОВКУ
          </h3>
        </div>

        <p class="receive__text">
          Все оборудование и экипировка известных производителей и предоставляется на весь курс программы. Тренировочный
          процесс
          начинается с определения вашего уровня катания
        </p>
      </li>
    </ul>

    <div class="receive__benefits">
      <div class="receive__wawes">
        <div class="receive__inner">
          <svg class="receive__wawe receive__wawe--1">
            <use xlink:href="img/sprite.svg#wawe-1"></use>
          </svg>
          <span class="receive__interest">85%</span>
          <p class="receive__descr">
            Приехали второй раз
          </p>
        </div>
        <div class="receive__inner">
          <svg class="receive__wawe receive__wawe--2">
            <use xlink:href="img/sprite.svg#wawe-2"></use>
          </svg>
          <span class="receive__interest">95%</span>
          <p class="receive__descr">
            Научились кататься
          </p>
        </div>
        <div class="receive__inner">
          <svg class="receive__wawe">
            <use xlink:href="img/sprite.svg#wawe-3"></use>
          </svg>
          <span class="receive__interest">99%</span>
          <p class="receive__descr">
            Довольных клиентов
          </p>
        </div>
      </div>
      <div class="receive__content">
        <p class="receive__text receive__text--first">
          Огромным преимуществом нашей школы является собственная методика обучения. Мы разработали собственный стиль обучения
          серфингу, который позволяет новичкам максимально быстро встать на доску.
        </p>
        <p class="receive__text">
          Именно наша методика и наши преподаватели позволили нам пройти аттестацию Федерации серфинга Канарских островов -
          FEDERACIÓN CANARIA DE SURF. Это означает, что наша школа соответствует всем мировым стандартам. Переаттестация
          производится ежегодно и это позволяет нам всегда стремиться к улучшению обучения.
        </p>
      </div>
    </div>
  </div>
</section>
