<section class="team">
  <div class="container">
    <h2 class="section-titl">
      НАША КОМАНДА
    </h2>
    <ul class="list-reset team__list">
      <li class="team__item">
        <picture>
          <source srcset="img/team-1.avif" type="image/avif">
          <source srcset="img/team-1.webp" type="image/webp">
          <img loading="lazy" src="img/team-1.jpg" class="team__img image" width="" height="" alt="">
        </picture>
        <h5 class="team__name">
          Mike
        </h5>
        <p class="team__position">
          Главный инстуктор
        </p>
      </li>
      <li class="team__item">
        <picture>
          <source srcset="img/team-2.avif" type="image/avif">
          <source srcset="img/team-2.webp" type="image/webp">
          <img loading="lazy" src="img/team-2.jpg" class="team__img image" width="" height="" alt="">
        </picture>
        <h5 class="team__name">
          Mary
        </h5>
        <p class="team__position">
          инстуктор
        </p>
      </li>
      <li class="team__item">
        <picture>
          <source srcset="img/team-3.avif" type="image/avif">
          <source srcset="img/team-3.webp" type="image/webp">
          <img loading="lazy" src="img/team-3.jpg" class="team__img image" width="" height="" alt="">
        </picture>
        <h5 class="team__name">
          Ольга
        </h5>
        <p class="team__position">
          инстуктор
        </p>
      </li>
    </ul>
  </div>
</section>
