<div class="video">
  <div class="container">
    <video poster="img/video.jpg" src="https://www.youtube.com/watch?v=hPGZGU0oI-o" class="video__movies"></video>

    <ul class="list-reset video__list">
      <li class="video__item">
        <h4 class="video__subtitle">
          450
        </h4>
        <p class="video__descr">
          туристов
        </p>
      </li>
      <li class="video__item">
        <h4 class="video__subtitle">
          2500
        </h4>
        <p class="video__descr">
          часов катания
        </p>
      </li>
      <li class="video__item">
        <h4 class="video__subtitle">
          10
        </h4>
        <p class="video__descr">
          проф. тренеров
        </p>
      </li>
      <li class="video__item">
        <h4 class="video__subtitle">
          365
        </h4>
        <p class="video__descr">
          дней в году
        </p>
      </li>
    </ul>
  </div>
</div>
